@import url('./variables.css');
/* *{
    margin: 0;
} */
.full-box{
    width: 80%;
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.img_404{
    width: 450px;
    height: 450px;
}
.letter_error{
    font-family: var(--font-decoration);
}
.ct1 h1{
    font-size: 3.1rem;
}
.ct1 p{
    font-size: 1.4rem;
}